In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# This notebook is for the 'Electricity Access Sub-topic'

In [15]:
rise_df = pd.read_excel('../Data/rise-2016-database-for-download.xlsx')
rise_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country Categories        112 non-null    object
 1   Unnamed: 1                112 non-null    object
 2   Unnamed: 2                112 non-null    object
 3   Unnamed: 3                0 non-null      float64
 4   Pillar Scores             112 non-null    object
 5   Unnamed: 5                112 non-null    object
 6   Unnamed: 6                112 non-null    object
 7   Unnamed: 7                112 non-null    object
 8   Unnamed: 8                0 non-null      float64
 9   Pillar: Energy Access     112 non-null    object
 10  Unnamed: 10               112 non-null    object
 11  Unnamed: 11               112 non-null    object
 12  Unnamed: 12               112 non-null    object
 13  Unnamed: 13               112 non-null    object
 14  Unnamed: 14               112 non-null    object
 15  Unnamed: 15               112 non-null    object
 16  Unnamed: 16               112 non-null    object
 17  Unnamed: 17               0 non-null      float64
 18  Pillar: Energy Efficency  112 non-null    object
 19  Unnamed: 19               112 non-null    object
 20  Unnamed: 20               112 non-null    object
 21  Unnamed: 21               112 non-null    object
 22  Unnamed: 22               112 non-null    object
 23  Unnamed: 23               112 non-null    object
 24  Unnamed: 24               112 non-null    object
 25  Unnamed: 25               112 non-null    object
 26  Unnamed: 26               112 non-null    object
 27  Unnamed: 27               112 non-null    object
 28  Unnamed: 28               112 non-null    object
 29  Unnamed: 29               112 non-null    object
 30  Unnamed: 30               0 non-null      float64
 31  Pillar: Renewable Energy  112 non-null    object
 32  Unnamed: 32               112 non-null    object
 33  Unnamed: 33               112 non-null    object
 34  Unnamed: 34               112 non-null    object
 35  Unnamed: 35               112 non-null    object
 36  Unnamed: 36               112 non-null    object
 37  Unnamed: 37               112 non-null    object
dtypes: float64(4), object(34)
memory usage: 33.4+ KB

In [19]:
gtfenergy_df = pd.read_csv('../Data/gtfenergyaccessdata.csv')
gtfenergy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1368 entries, 0 to 1367
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    1368 non-null   object
 1   Series Code    1368 non-null   object
 2   Country Name   1368 non-null   object
 3   Country Code   1368 non-null   object
 4   1990 [YR1990]  1353 non-null   object
 5   1991 [YR1991]  1364 non-null   object
 6   1992 [YR1992]  1364 non-null   object
 7   1993 [YR1993]  1364 non-null   object
 8   1994 [YR1994]  1364 non-null   object
 9   1995 [YR1995]  1366 non-null   object
 10  1996 [YR1996]  1366 non-null   object
 11  1997 [YR1997]  1366 non-null   object
 12  1998 [YR1998]  1366 non-null   object
 13  1999 [YR1999]  1366 non-null   object
 14  2000 [YR2000]  1366 non-null   object
 15  2001 [YR2001]  1366 non-null   object
 16  2002 [YR2002]  1367 non-null   object
 17  2003 [YR2003]  1367 non-null   object
 18  2004 [YR2004]  1368 non-null   object
 19  2005 [YR2005]  1368 non-null   object
 20  2006 [YR2006]  1368 non-null   object
 21  2007 [YR2007]  1368 non-null   object
 22  2008 [YR2008]  1368 non-null   object
 23  2009 [YR2009]  1368 non-null   object
 24  2010 [YR2010]  1368 non-null   object
 25  2011 [YR2011]  1368 non-null   object
 26  2012 [YR2012]  1368 non-null   object
 27  2013 [YR2013]  1368 non-null   object
 28  2014 [YR2014]  1368 non-null   object
dtypes: object(29)
memory usage: 310.1+ KB

In [21]:
se4all_df = pd.read_excel('../Data/SE4ALLEXCEL.xlsx')
se4all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2849 entries, 0 to 2848
Data columns (total 31 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    2849 non-null   object
 1   Country Code    2849 non-null   object
 2   Indicator Name  2849 non-null   object
 3   Indicator Code  2849 non-null   object
 4   1990            2120 non-null   float64
 5   1991            2121 non-null   float64
 6   1992            2139 non-null   float64
 7   1993            2137 non-null   float64
 8   1994            2145 non-null   float64
 9   1995            2160 non-null   float64
 10  1996            2165 non-null   float64
 11  1997            2168 non-null   float64
 12  1998            2169 non-null   float64
 13  1999            2173 non-null   float64
 14  2000            2372 non-null   float64
 15  2001            2375 non-null   float64
 16  2002            2384 non-null   float64
 17  2003            2385 non-null   float64
 18  2004            2386 non-null   float64
 19  2005            2392 non-null   float64
 20  2006            2392 non-null   float64
 21  2007            2399 non-null   float64
 22  2008            2397 non-null   float64
 23  2009            2400 non-null   float64
 24  2010            2400 non-null   float64
 25  2011            2400 non-null   float64
 26  2012            2407 non-null   float64
 27  2013            2407 non-null   float64
 28  2014            2406 non-null   float64
 29  2015            2400 non-null   float64
 30  2016            824 non-null    float64
dtypes: float64(27), object(4)
memory usage: 690.1+ KB

In [23]:
se4all_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,BES Islands,BES,Access to Clean Fuels and Technologies for coo...,2.1_ACCESS.CFT.TOT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BES Islands,BES,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BES Islands,BES,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BES Islands,BES,Access to electricity (% of urban population w...,1.3_ACCESS.ELECTRICITY.URBAN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BES Islands,BES,Energy intensity level of primary energy (MJ/2...,6.1_PRIMARY.ENERGY.INTENSITY,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
#null values will need to be filtered out

# What is the total access to electricity for each country?

In [28]:
#Access to electricity(% of total population)

In [54]:
tot_elec_se4all = se4all_df[se4all_df['Indicator Name']=='Access to electricity (% of total population)']
tot_elec_se4all

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
2,BES Islands,BES,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Nauru,NRU,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,99.800000,99.254089,99.205658,99.175644,99.000000,99.162201,99.162445,99.172058,99.000000,99.202805
24,Niue,NIU,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Wallis and Futuna,WLF,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Caucasian and Central Asia,CCA,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2796,West Bank and Gaza,PSE,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,97.354027,97.548073,97.741608,97.932083,98.116440,98.291626,...,99.342880,99.448792,99.575722,99.900000,99.700000,100.000000,100.000000,99.900000,100.000000,100.000000
2807,Western Sahara,ESH,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2818,"Yemen, Rep.",YEM,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,36.009098,37.441071,44.100000,40.300938,41.723221,43.136330,...,59.042709,60.386539,61.751400,63.134281,64.532181,65.942101,75.600000,66.100000,70.213905,71.642349
2829,Zambia,ZMB,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,13.900000,14.115426,19.200000,15.287503,15.865894,16.435108,...,18.500000,22.714685,23.235649,22.000000,24.328644,24.894667,25.469702,27.900000,31.100000,27.219337
2840,Zimbabwe,ZWE,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,30.357832,30.718805,28.200000,31.436678,28.100000,32.130077,...,35.184479,35.457310,43.369082,36.063057,36.900000,36.728878,37.076813,32.300000,33.700000,38.145138

In [58]:
tot_elec_gtfenergy = gtfenergy_df[gtfenergy_df['Series Name']=='Access to electricity (% of total population)']
tot_elec_gtfenergy

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014]
0,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,Afghanistan,AFG,..,..,..,..,..,..,...,23,27.5064106,34.29051208,42.4,47.88846588,42.7,61.51441956,69.1,75.15437317,89.5
1,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,Albania,ALB,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
2,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,Algeria,DZA,92.99005127,93.39325714,93.79601288,94.19605255,94.59069061,94.977211,...,98.18426514,98.49073792,98.80651855,99.3,99.44389343,99.71117401,99.88954163,99.9730835,99.99691772,100
3,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,American Samoa,ASM,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,Andorra,ADO,100,100,100,100,100,100,...,100,100,100,100,100,100,100,100,100,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,West Bank and Gaza,WBG,97.74166107,97.89733124,98.05245972,98.20439148,98.34990692,98.48580933,...,99.1410141,99.7,99.32502747,99.4516449,99.59689331,99.9,99.92842102,100,100,99.9
224,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,Western Sahara,ESH,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
225,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,"Yemen, Rep.",YEM,35.17142105,36.76848602,44.1,39.95900345,41.54750061,43.1278801,...,58.26748657,59.76601791,61.27585602,62.79619598,64.32528687,65.8613739,67.40270996,68.94754791,75.6,72.04101563
226,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,Zambia,ZMB,13.9,14.77597141,19.2,15.70166588,16.15774918,16.60571289,...,20.42119026,20.78730965,18.5,21.5526619,21.94933701,22,22.76193619,23.17436028,23.5885334,27.9
227,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,Zimbabwe,ZWE,29.8888588,30.23710442,28.2,30.92999077,28.1,31.60122871,...,34.25266266,37.2,34.76339722,35.03491974,35.31518936,35.60245895,36.9,36.19100189,36.48876953,32.3

In [66]:
tot_elec_se4all[tot_elec_se4all['Country Name']=='Pakistan']

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
2037,Pakistan,PAK,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,59.936604,59.6,63.075237,64.641243,66.201126,67.751831,...,89.2,86.790833,90.73,89.813774,91.37,92.89679,93.6,96.015854,93.5,99.147438

In [68]:
tot_elec_gtfenergy[tot_elec_gtfenergy['Country Name']=='Pakistan']

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014]
155,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,Pakistan,PAK,58.74058533,59.6,62.09465027,63.76875305,65.43744659,67.09801483,...,83.85,84.61829376,89.2,87.80886078,90.73,91.03442383,91.37,94.28098297,93.6,97.53484344

# What is the total access to electricity for each country (rural)

In [52]:
tot_elec_rural_se4all = se4all_df[se4all_df['Indicator Name']=='Access to electricity (% of rural population with access)']
tot_elec_rural_se4all

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
1,BES Islands,BES,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Nauru,NRU,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Niue,NIU,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Wallis and Futuna,WLF,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Caucasian and Central Asia,CCA,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,West Bank and Gaza,PSE,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,92.147061,92.599840,93.066238,93.541124,94.016528,94.484800,...,94.240000,98.609122,95.660000,99.700000,98.390000,100.000000,100.000000,100.00,100.000000,100.000000
2806,Western Sahara,ESH,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2817,"Yemen, Rep.",YEM,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,22.090332,23.348522,33.900000,25.874214,27.135887,28.444607,...,44.032746,45.416856,46.840797,48.301115,49.795742,51.322549,65.200000,53.23,56.064632,57.691162
2828,Zambia,ZMB,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,1.800000,NaN,3.100000,1.020531,1.614234,2.200350,...,3.000000,3.929029,3.789539,3.100000,3.520580,3.379384,3.226658,3.80,3.700000,2.657746
2839,Zimbabwe,ZWE,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,7.831814,7.515224,3.035921,7.195429,3.400000,7.304750,...,9.713195,10.331723,17.452830,11.628599,13.300000,12.981644,13.669918,9.80,9.700000,15.575584

# What is the total access to electricity for each country (urban)

In [50]:
tot_elec_urban_se4all = se4all_df[se4all_df['Indicator Name']=='Access to electricity (% of urban population with access)']
tot_elec_urban_se4all

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
3,BES Islands,BES,Access to electricity (% of urban population w...,1.3_ACCESS.ELECTRICITY.URBAN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Nauru,NRU,Access to electricity (% of urban population w...,1.3_ACCESS.ELECTRICITY.URBAN,96.273155,96.397980,96.522636,96.646255,96.767822,96.886292,...,98.019852,98.142700,98.278038,98.424095,99.000000,98.741203,98.908684,99.079735,99.000000,99.425713
25,Niue,NIU,Access to electricity (% of urban population w...,1.3_ACCESS.ELECTRICITY.URBAN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Wallis and Futuna,WLF,Access to electricity (% of urban population w...,1.3_ACCESS.ELECTRICITY.URBAN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Caucasian and Central Asia,CCA,Access to electricity (% of urban population w...,1.3_ACCESS.ELECTRICITY.URBAN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,West Bank and Gaza,PSE,Access to electricity (% of urban population w...,1.3_ACCESS.ELECTRICITY.URBAN,99.837273,99.853294,99.869148,99.883965,99.896729,99.906395,...,99.800000,99.748367,99.510000,99.900000,99.940000,99.911659,99.970337,99.800000,100.000000,100.000000
2808,Western Sahara,ESH,Access to electricity (% of urban population w...,1.3_ACCESS.ELECTRICITY.URBAN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2819,"Yemen, Rep.",YEM,Access to electricity (% of urban population w...,1.3_ACCESS.ELECTRICITY.URBAN,88.588661,88.928818,91.200000,89.607758,89.944649,90.278458,...,93.996010,94.334190,94.684860,95.046249,95.416565,95.794022,98.500000,95.920000,96.951393,97.339859
2830,Zambia,ZMB,Access to electricity (% of urban population w...,1.3_ACCESS.ELECTRICITY.URBAN,34.700000,36.474407,39.200000,38.523743,39.545834,40.564835,...,47.800000,53.528126,54.563999,49.800000,56.666096,57.728748,58.796761,61.500000,67.700000,62.015373
2841,Zimbabwe,ZWE,Access to electricity (% of urban population w...,1.3_ACCESS.ELECTRICITY.URBAN,85.539886,85.541931,85.543800,85.544647,80.400000,85.539116,...,85.199326,85.199387,90.861941,85.235229,83.200000,85.306770,85.351479,83.400000,81.200000,85.500160

# What are the energy access scores for each country?

In [ ]:
energy_access_score = rise_df[rise_df['Indicator Name']=='Access to electricity (% of urban population with access)']
energy_access_score