In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# This notebook is for the 'Electricity Access Sub-topic'

In [13]:
rise_df = pd.read_excel('Documents/NSS/Python/projects/DA13_Energy_Capstone/Data/rise-2016-database-for-download.xlsx')
rise_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country Categories        112 non-null    object
 1   Unnamed: 1                112 non-null    object
 2   Unnamed: 2                112 non-null    object
 3   Unnamed: 3                0 non-null      float64
 4   Pillar Scores             112 non-null    object
 5   Unnamed: 5                112 non-null    object
 6   Unnamed: 6                112 non-null    object
 7   Unnamed: 7                112 non-null    object
 8   Unnamed: 8                0 non-null      float64
 9   Pillar: Energy Access     112 non-null    object
 10  Unnamed: 10               112 non-null    object
 11  Unnamed: 11               112 non-null    object
 12  Unnamed: 12               112 non-null    object
 13  Unnamed: 13               112 non-null    object
 14  Unnamed: 14               112 non-null    object
 15  Unnamed: 15               112 non-null    object
 16  Unnamed: 16               112 non-null    object
 17  Unnamed: 17               0 non-null      float64
 18  Pillar: Energy Efficency  112 non-null    object
 19  Unnamed: 19               112 non-null    object
 20  Unnamed: 20               112 non-null    object
 21  Unnamed: 21               112 non-null    object
 22  Unnamed: 22               112 non-null    object
 23  Unnamed: 23               112 non-null    object
 24  Unnamed: 24               112 non-null    object
 25  Unnamed: 25               112 non-null    object
 26  Unnamed: 26               112 non-null    object
 27  Unnamed: 27               112 non-null    object
 28  Unnamed: 28               112 non-null    object
 29  Unnamed: 29               112 non-null    object
 30  Unnamed: 30               0 non-null      float64
 31  Pillar: Renewable Energy  112 non-null    object
 32  Unnamed: 32               112 non-null    object
 33  Unnamed: 33               112 non-null    object
 34  Unnamed: 34               112 non-null    object
 35  Unnamed: 35               112 non-null    object
 36  Unnamed: 36               112 non-null    object
 37  Unnamed: 37               112 non-null    object
dtypes: float64(4), object(34)
memory usage: 33.4+ KB

In [11]:
gtfenergy_df = pd.read_csv('Documents/NSS/Python/projects/DA13_Energy_Capstone/Data/gtfenergyaccessdata.csv')
gtfenergy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1368 entries, 0 to 1367
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    1368 non-null   object
 1   Series Code    1368 non-null   object
 2   Country Name   1368 non-null   object
 3   Country Code   1368 non-null   object
 4   1990 [YR1990]  1353 non-null   object
 5   1991 [YR1991]  1364 non-null   object
 6   1992 [YR1992]  1364 non-null   object
 7   1993 [YR1993]  1364 non-null   object
 8   1994 [YR1994]  1364 non-null   object
 9   1995 [YR1995]  1366 non-null   object
 10  1996 [YR1996]  1366 non-null   object
 11  1997 [YR1997]  1366 non-null   object
 12  1998 [YR1998]  1366 non-null   object
 13  1999 [YR1999]  1366 non-null   object
 14  2000 [YR2000]  1366 non-null   object
 15  2001 [YR2001]  1366 non-null   object
 16  2002 [YR2002]  1367 non-null   object
 17  2003 [YR2003]  1367 non-null   object
 18  2004 [YR2004]  1368 non-null   object
 19  2005 [YR2005]  1368 non-null   object
 20  2006 [YR2006]  1368 non-null   object
 21  2007 [YR2007]  1368 non-null   object
 22  2008 [YR2008]  1368 non-null   object
 23  2009 [YR2009]  1368 non-null   object
 24  2010 [YR2010]  1368 non-null   object
 25  2011 [YR2011]  1368 non-null   object
 26  2012 [YR2012]  1368 non-null   object
 27  2013 [YR2013]  1368 non-null   object
 28  2014 [YR2014]  1368 non-null   object
dtypes: object(29)
memory usage: 310.1+ KB

In [15]:
se4all_df = pd.read_excel('Documents/NSS/Python/projects/DA13_Energy_Capstone/Data/SE4ALLEXCEL.xlsx')
se4all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2849 entries, 0 to 2848
Data columns (total 31 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    2849 non-null   object
 1   Country Code    2849 non-null   object
 2   Indicator Name  2849 non-null   object
 3   Indicator Code  2849 non-null   object
 4   1990            2120 non-null   float64
 5   1991            2121 non-null   float64
 6   1992            2139 non-null   float64
 7   1993            2137 non-null   float64
 8   1994            2145 non-null   float64
 9   1995            2160 non-null   float64
 10  1996            2165 non-null   float64
 11  1997            2168 non-null   float64
 12  1998            2169 non-null   float64
 13  1999            2173 non-null   float64
 14  2000            2372 non-null   float64
 15  2001            2375 non-null   float64
 16  2002            2384 non-null   float64
 17  2003            2385 non-null   float64
 18  2004            2386 non-null   float64
 19  2005            2392 non-null   float64
 20  2006            2392 non-null   float64
 21  2007            2399 non-null   float64
 22  2008            2397 non-null   float64
 23  2009            2400 non-null   float64
 24  2010            2400 non-null   float64
 25  2011            2400 non-null   float64
 26  2012            2407 non-null   float64
 27  2013            2407 non-null   float64
 28  2014            2406 non-null   float64
 29  2015            2400 non-null   float64
 30  2016            824 non-null    float64
dtypes: float64(27), object(4)
memory usage: 690.1+ KB

In [17]:
se4all_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,BES Islands,BES,Access to Clean Fuels and Technologies for coo...,2.1_ACCESS.CFT.TOT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BES Islands,BES,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BES Islands,BES,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BES Islands,BES,Access to electricity (% of urban population w...,1.3_ACCESS.ELECTRICITY.URBAN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BES Islands,BES,Energy intensity level of primary energy (MJ/2...,6.1_PRIMARY.ENERGY.INTENSITY,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#null values will need to be filtered out

# What is the total access to electricity for each country?

In [22]:
#Access to electricity(% of total population)

In [24]:
se4all_df['tot_elec'] = se4all_df[se4all_df['Indicator Name']=='Access to electricity (% of total population)']
se4all_df

ValueError: Cannot set a DataFrame with multiple columns to the single column tot_elec

In [26]:
se4all_countries = se4all_df.groupby('Country Name')
se4all_tot_elec = se4all_countries['tot_elec'].count().sort_values()
print(gdp_count.to_string())

KeyError: 'Column not found: tot_elec'

In [ ]:
# this is a test

In [1]:
# this is test 3