In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# This notebook is for the Energy Consumption (Sub-Topic: General Energy)

In [20]:
se4all_df = pd.read_excel('../Data/SE4ALLEXCEL.xlsx')
se4all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2849 entries, 0 to 2848
Data columns (total 31 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    2849 non-null   object
 1   Country Code    2849 non-null   object
 2   Indicator Name  2849 non-null   object
 3   Indicator Code  2849 non-null   object
 4   1990            2120 non-null   float64
 5   1991            2121 non-null   float64
 6   1992            2139 non-null   float64
 7   1993            2137 non-null   float64
 8   1994            2145 non-null   float64
 9   1995            2160 non-null   float64
 10  1996            2165 non-null   float64
 11  1997            2168 non-null   float64
 12  1998            2169 non-null   float64
 13  1999            2173 non-null   float64
 14  2000            2372 non-null   float64
 15  2001            2375 non-null   float64
 16  2002            2384 non-null   float64
 17  2003            2385 non-null   float64
 18  2004            2386 non-null   float64
 19  2005            2392 non-null   float64
 20  2006            2392 non-null   float64
 21  2007            2399 non-null   float64
 22  2008            2397 non-null   float64
 23  2009            2400 non-null   float64
 24  2010            2400 non-null   float64
 25  2011            2400 non-null   float64
 26  2012            2407 non-null   float64
 27  2013            2407 non-null   float64
 28  2014            2406 non-null   float64
 29  2015            2400 non-null   float64
 30  2016            824 non-null    float64
dtypes: float64(27), object(4)
memory usage: 690.1+ KB

In [44]:
solarpv_df = pd.read_excel('../Data/solargis_pvpotential_countryranking_2020_data.xlsx',sheet_name='Country indicators',skiprows=1)
solarpv_df.head()

,ISO_A3,Country or region,Note,World Bank \nRegion,"Total population, 2018","Total area, 2018",Evaluated area,Level 1 area \n(% of evaluated area),"Human development \nIndex, 2017","Gross domestic product (USD per capita), 2018",...,"Average practical potential \n(PVOUT Level 1, \nkWh/kWp/day), long-term","Average economic potential (LCOE, USD/kWh), 2018","Average PV \nseasonality index, long-term","PV equivalent area (% of total area), long-term","Cummulative installed PV capacity (MWp), 2018","Cummulative installed PV capacity (Wp per capita), 2018","Access to electricity\n(% of rural population), 2016","Electric power consumption (kWh per capita), 2014","Reliability of supply and transparency of tariff index, 2019","Approximate electricity \nTariffs for SMEs \n(US cent/kWh), 2019"
0,ABW,Aruba (Neth.),NaN,Other,105845,180.0,180,0.847926,NaN,25630.266492,...,4.9646,0.0853,1.1803,NaN,6.1,57.631442,92.452844,NaN,NaN,NaN
1,AFG,Afghanistan,NaN,SOA,37172386,652860.0,652860,0.587350,0.497695,520.896603,...,5.0159,0.0851,1.6665,NaN,22.0,0.591837,78.961074,NaN,0.0,17.6
2,AGO,Angola,NaN,AFR,30809762,1246700.0,1246700,0.751833,0.581179,3432.385736,...,4.6586,0.0919,1.3211,0.003,13.4,0.434927,15.984209,312.228825,3.0,4.6
3,ALB,Albania,NaN,ECA,2866376,27400.0,27400,0.614858,0.784911,5253.630064,...,4.0426,0.1051,2.3266,0.210,1.0,0.348873,100.000000,2309.366503,3.0,8.7
4,AND,Andorra,NaN,Other,77006,470.0,470,0.110961,0.857684,42029.762737,...,4.1990,0.0986,2.1531,NaN,0.0,0.000000,100.000000,NaN,NaN,NaN

# Find the total final energy consumption and renewable energy consumption

In [26]:
tot_energy_consum_se4all = se4all_df[se4all_df['Indicator Name']=='Total final energy consumption (TFEC) (TJ)']
tot_energy_consum_se4all

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
10,BES Islands,BES,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3649.213500,3709.193500,3718.913500,3797.753500,NaN
21,Nauru,NRU,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,1468.400000,1471.000000,1372.300000,1288.900000,1248.500000,1193.800000,...,410.271000,416.085000,383.494000,388.257000,350.183000,352.343000,398.973000,422.911000,432.400600,NaN
32,Niue,NIU,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,57.770760,58.130760,58.886440,59.210760,59.210760,54.780760,...,58.959554,90.091789,64.975616,62.244029,66.539263,68.648827,70.409008,71.870469,74.352360,NaN
43,Wallis and Futuna,WLF,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,197.852800,183.136600,185.305700,182.869600,186.007000,176.378800,172.816400,171.249000,169.378213,NaN
54,Caucasian and Central Asia,CCA,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2804,West Bank and Gaza,PSE,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,18340.987183,18708.257183,19350.746413,19825.740260,20334.329533,20572.694919,...,34962.364000,33559.187000,40386.425500,43474.437000,40719.999000,48423.320000,50130.199000,64292.372500,63990.570000,NaN
2815,Western Sahara,ESH,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
2826,"Yemen, Rep.",YEM,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,73106.970840,91890.295416,99403.759224,87650.616132,90101.275776,104423.983632,...,207218.046024,222475.122036,239288.934024,220556.646540,191939.449860,168698.606796,247869.027000,243441.862812,106887.329280,NaN
2837,Zambia,ZMB,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,179246.202696,184651.026552,188592.647544,187871.261904,188559.111276,192340.880244,...,248957.929944,255453.038388,263847.949200,275145.359112,289479.245724,313242.810768,324106.677540,332463.907152,342874.636560,NaN
2848,Zimbabwe,ZWE,Total final energy consumption (TFEC) (TJ),1.1_TOTAL.FINAL.ENERGY.CONSUM,331852.634352,333742.848948,336611.853648,336116.973888,322292.578968,335193.575148,...,361194.147432,346045.886352,346388.869008,353016.070992,373974.605640,390599.927892,391107.493656,395183.343456,396615.270924,NaN

In [29]:
renew_energy_consum_se4all = se4all_df[se4all_df['Indicator Name']=='Renewable energy consumption (TJ)']
renew_energy_consum_se4all

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
7,BES Islands,BES,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,89.684080,100.653000,112.507900,112.78860,NaN
18,Nauru,NRU,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.322388,0.321231,0.324507,0.324956,0.324156,0.325063,0.324444,0.333466,0.32988,NaN
29,Niue,NIU,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,0.33076,0.33076,1.08644,0.33076,0.33076,0.33076,...,16.395820,16.407640,16.407640,16.620320,16.625630,16.612310,16.619440,16.631280,16.63123,NaN
40,Wallis and Futuna,WLF,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,NaN
51,Caucasian and Central Asia,CCA,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,West Bank and Gaza,PSE,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,4050.07200,4108.34300,4166.61300,4214.88200,4263.15300,4311.42300,...,7159.134000,6746.247000,6680.265000,6114.579000,6279.089000,5927.160000,5820.319000,6770.153000,6701.55000,NaN
2812,Western Sahara,ESH,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,NaN
2823,"Yemen, Rep.",YEM,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,1570.80400,1570.80400,1570.80400,1570.80400,1570.80400,1570.80400,...,1940.414000,2002.002000,2063.590000,2125.220000,2186.808000,2248.395000,2309.983000,2371.613000,2433.20100,NaN
2834,Zambia,ZMB,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,148743.40000,151881.30000,155978.90000,159944.40000,163775.90000,167550.70000,...,231434.800000,235483.200000,242968.500000,253420.700000,263135.500000,277634.400000,286757.300000,292681.400000,301679.80000,NaN
2845,Zimbabwe,ZWE,Renewable energy consumption (TJ),3.1_RE.CONSUMPTION,212307.40000,212730.30000,216671.30000,216519.00000,220858.10000,224788.40000,...,282020.900000,283868.300000,288035.200000,292578.100000,297587.400000,304744.900000,311169.400000,320293.300000,324422.60000,NaN

# Find the electric power consumption

What to do in the situation of a sub-column name? A: Drop the first row

In [56]:
solarpv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 21 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   ISO_A3                                                                 209 non-null    object
 1   Country or region                                                      209 non-null    object
 2   Note                                                                   7 non-null      object
 3   World Bank
Region                                                     209 non-null    object
 4   Total population, 2018                                                 209 non-null    int64
 5   Total area, 2018                                                       207 non-null    float64
 6   Evaluated area                                                         209 non-null    int64
 7   Level 1 area
(% of evaluated area)                                    209 non-null    float64
 8   Human development
Index, 2017                                         185 non-null    float64
 9   Gross domestic product (USD per capita), 2018                          200 non-null    float64
 10  Average theoretical potential (GHI, kWh/m2/day),
long-term            209 non-null    float64
 11  Average practical potential
(PVOUT Level 1,
kWh/kWp/day), long-term  209 non-null    float64
 12  Average economic potential (LCOE, USD/kWh), 2018                       209 non-null    float64
 13  Average PV
seasonality index, long-term                               209 non-null    float64
 14  PV equivalent area (% of total area), long-term                        135 non-null    float64
 15  Cummulative installed PV capacity (MWp), 2018                          203 non-null    float64
 16  Cummulative installed PV capacity (Wp per capita), 2018                203 non-null    float64
 17  Access to electricity
(% of rural population), 2016                    198 non-null    float64
 18  Electric power consumption (kWh per capita), 2014                      137 non-null    float64
 19  Reliability of supply and transparency of tariff index, 2019           183 non-null    float64
 20  Approximate electricity
Tariffs for SMEs
(US cent/kWh), 2019         182 non-null    float64
dtypes: float64(15), int64(2), object(4)
memory usage: 34.4+ KB

In [68]:
electric_consum_solarpv = solarpv_df[['Electric power consumption (kWh per capita), 2014','Country or region','Total population, 2018']]
electric_consum_solarpv

,"Electric power consumption (kWh per capita), 2014",Country or region,"Total population, 2018"
0,NaN,Aruba (Neth.),105845
1,NaN,Afghanistan,37172386
2,312.228825,Angola,30809762
3,2309.366503,Albania,2866376
4,NaN,Andorra,77006
...,...,...,...
204,NaN,Kosovo,1845300
205,219.799922,Republic of Yemen,28498687
206,4197.907047,South Africa,57779622
207,717.349168,Zambia,17351822
208,609.125952,Zimbabwe,14439018